$GrassColor: #DEFDE0;

$FireColor: #FDDFDF;

$WaterColor: #DEF3FD;

$BugColor: #A6B91A;

$DarkColor: #705746;

$DragonColor: #6F35FC;

$ElectricColor: #F7D02C;

$FairyColor: #D685AD;

$FightingColor: #C22E28;

$FlyingColor: #A98FF3;

$GhostColor: #735797;

$GroundColor: #E2BF65;

$IceColor: #96D9D6;

$NormalColor: #A8A77A;

$PoisonColor: #A33EA1;

$PsychicColor: #F95587;

$RockColor: #B6A136;

$SteelColor: #B7B7CE;